{% if not(current_user.is_active and current_user.is_authenticated) %}
    <!-- <script>window.location.replace("{{ url_for('security.login') }}");</script> -->
{% endif %}
{% extends 'admin/base.html' %}
{% block brand %}
    <a class="navbar-brand" href="/">{{ admin_view.admin.name }}</a>
{% endblock %}

{% if current_user.is_authenticated %}
    {% block menu_links %}
        <b> {{ current_user.email }}</b>
    {% endblock %}
{% endif %}


{% block access_control %}
    {% if current_user.is_authenticated %}
        <ul class="navbar-nav"><a href="/logout" class="nav-link">Logout</a></ul>
    {% else%}
        <ul class="navbar-nav"><a href="/login" class="nav-link">Login</a></ul>
    {% endif %}
{% endblock %}


{% block body %}
{% endblock %}