{% if not(current_user.is_active and current_user.is_authenticated) %}
<style>
    body{
        background-image: url("{{ url_for('static', filename='background.png') }}");
        background-repeat:repeat;
        backdrop-filter: blur(2px) brightness(200%) contrast(40%);
        padding-top: 100px;
    }
    nav {
        margin-bottom: 50px;
    }
    table {
        background-color: white;
    }
</style>
{% endif %}
{% extends 'admin/base.html' %}
{% block brand %}
    <img src="{{url_for('static', filename='logo.png')}}" width="50">
    <a class="navbar-brand" href="/">{{ admin_view.admin.name }}</a>
{% endblock %}

{% if current_user.is_authenticated %}
    {% block menu_links %}
        <b> {{ current_user.email }}</b>
    {% endblock %}
{% endif %}


{% block access_control %}
    {% if current_user.is_authenticated %}
        <ul class="navbar-nav"><a href="/logout" class="nav-link">Logout</a></ul>
    {% else%}
        <ul class="navbar-nav"><a href="/login" class="nav-link">Login</a></ul>
    {% endif %}
{% endblock %}


{% block body %}
{% endblock %}